<html>
	<head>
		<title> New game?? </title>
		<h1> Create new game </h1>
	</head>
	<body>
		Enter size of board (1 - 10)
		<%= form_with(model: @game, local: true) do |form| %>
			<%= form.label :size, "Enter board size" %>
			<%= form.number_field :size, min: 1, max: 10, step: 1 %>
			<div class="actions">
				<%= form.submit "Create Game" %>
			</div>
		<% end %>
	</body>
</html>